/*****************************************************************
	GALERIE
*****************************************************************/
section{
    padding: 2em;
}

section h1 {
    font-size: 1.1em;
    text-transform: uppercase;
    white-space:nowrap;
    font-weight: 600;
    padding: 1em 1em 2em 1em;
}
section h1 > span {
    letter-spacing: .05em;
    font-size: .8em;
    text-transform: uppercase;
    white-space:nowrap;
    font-weight: 400;
}

/********* POST LIST *********/
div#post-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

/********* POST *********/
div.post {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 26em;
    margin: 1em;
    background: #fff;
    border-radius: .4em;
}



/********* FIGURE IMG *********/
div.post figure> img {
    width: 100%;
}

/********* POST USER *********/
div.post div.post-user a {
    display: flex;
    align-items: center;
    padding: 1em 1em .1em 1.5em;
    width: 26em;
}
div.post div.post-user img {
    border-radius: 100%;
    width: 1.8em;
    height: 1.8em;
}
div.post div.post-user h3 {
    font-size: .8em;
    text-transform: uppercase;
    white-space:nowrap;
    font-weight: 300;
    padding: 0 .6em;
}

/********* POST ACTION *********/
div.post div.post-action {
    padding: 0em 1.5em 1em 1.5em;
    width: 26em;
    display: inline-flex;
    justify-content: flex-end;
}
div.post div.post-action div {
    display: inline-flex;
    align-items: center;
    padding: 0 .4em;
    cursor: pointer;
}
div.post div.post-action svg {
    width: 1.1em;
}
div.post div.post-action p {
    margin: 0 0 0 0.4em;
    font-size: .8em;
    font-weight: 500;
    color: #adb4b9;
}

/********* LIST COMMENT *********/
div.post div#list-comment {
    width: 26em;
    padding: 0.4em 1.5em;

    border-top: 2px solid #adb4b926;
    border-bottom: 2px solid #adb4b926;
    overflow: auto;
    height: 5em;
}

div.post div#list-comment p {
    letter-spacing: 0.01em;
    font-size: 0.8em;
    white-space: inherit;
    font-weight: 400;
    line-height: 19px;
    padding: 0.4em 0;
    width: 100%;
}
div.post div#list-comment strong {
    margin-right: .4em;
    font-weight: 500;
}

/********* POST COMMENT *********/
div.post form.post-comment {
    width: 26em;
    display: inline-flex;
    justify-content: flex-start;
    position: relative;
}

div.post form.post-comment input[type=text]{
    width: 100%;
    padding: 1.7em 2em;
    background-color: #adb4b90a;
    letter-spacing: .05em;
    font-size: 0.8em;
    white-space: nowrap;
    font-weight: 400;
    color: #717171;
}


/********* POST DELETE *********/
div.post div#delete-post {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    right: 15px;
    top: 25px;
    cursor: pointer;
}
div.post div#delete-post div:nth-child(-n+3){
    background: #717171;
    width: .3em;
    height: .3em;
    border-radius: 100%;
    margin: .1em;
}
/********* POST DELETE DIV *********/
div.post div#open-delete-post {
    visibility: hidden;
    opacity: 0;

    z-index: 200;
    position: absolute;
    top: 1.5em;
    right: 0em;
    height: 3em;
    width: 10em;
    background-color: #fff;
    box-shadow: 0px 0px 11px 1px #0000000f;
    border-radius: 5px;
    transform: translateY(20px);
    transition: all .4s ease-in-out;
}
div.post div#open-delete-post p {
    text-align: center;
    margin: 1.4em;
    color: #ee5552;
    font-size: .8em;
    text-transform: uppercase;
    white-space: nowrap;
    font-weight: 600;
}

div.post div#delete-post:hover #open-delete-post, div.post div#delete-post:active div#open-delete-post, div.post div#delete-post:focus div#open-delete-post{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

/********* PAGE ACTUEl *********/
div.actuel-page {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 1.5em 0 1em 0;
    width: 100vw;
}

div.actuel-page a, div.actuel-page p {
    background-color: #fff;
    padding: 1.5em 3.5em;
    font-size: .9em;
    text-transform: uppercase;
    white-space:nowrap;
    font-weight: 500;
    margin: 1em;
    color: #adb4b9;
}
