html {
	scroll-behavior: smooth;
}

body{
	margin: 0;
    padding: 0;
    border: 0;
	/* overflow: hidden; */
	overflow-x: hidden;
	font-family: 'Rubik', sans-serif;
    background-color: #f4f7f6;
}

input, button, input:focus, textarea:focus, select:focus{
	outline: none;
}

button, nav, input, textarea{
	font-family: 'Rubik', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

button, input, textarea{
	border: 0;
	-webkit-appearance: none;
}

ul, li{
	list-style: none
}

div{
	box-sizing: border-box;
}

p, ul, li, a, h1, h2, h3, h4, figure{
	font-family: 'Rubik', sans-serif;
	margin: 0;
	padding: 0;
    word-break: break-word;
	white-space:nowrap;
	color: #424242;
    
}

h1, h2, h3, h4, div, p, a{
	overflow-wrap: break-word;
	word-wrap: break-word;
}

p{
	white-space: pre-wrap;
}

a{
	
	text-decoration: none;
	box-sizing: border-box;
}

a:hover{
	text-decoration: none;
}

/*****************************************************************
	DISPLAY
*****************************************************************/

.inline-flex{
	display: inline-flex;
}

.none{
	display: none;
}

/**** FLEX ****/

.flex{
	display: flex;
}

.align-items-center{
	align-items: center;
	-webkit-align-items: center;
}

.justify-content-center{
	justify-content: center;
	-webkit-justify-content: center;
}

/**** FLEX PACK ****/

.flex-center-middle{
	display: flex;
	justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-webkit-align-items: center;
}

.inline-flex-center-middle{
	display: inline-flex;
	justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-webkit-align-items: center;
}

/*****************************************************************
	POSITION
*****************************************************************/

.absolute{
	position: absolute;
}

.relative{
	position: relative;
}

.fixed{
	position: fixed;
}

.top-dif-nav{
	top: 55px;
}

.top-0{
	top: 0;
}

.bottom-0{
	bottom: 0;
}

.left-0{
	left: 0;
}

.right-0{
	right: 0;
}

/*****************************************************************
	BACKGROUND
*****************************************************************/

.backgound-cover{
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

/*****************************************************************
	BORDER RADIUS
*****************************************************************/

.border-radius-5{
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}


/*****************************************************************
	TEXT
*****************************************************************/

.text-align-center{
	text-align: center;
}

.text-align-left{
	text-align: left;
}

.text-align-right{
	text-align: right;
}

.text-overflow{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}


/*****************************************************************
	MARGIN-PADDING
*****************************************************************/

.padding-0{
	padding: 0;
}

.margin-0{
	margin: 0;
}

.margin-0-auto{
	margin: 0 auto;
}

.margin-left-15{
	margin-left: 15px;
}

/*****************************************************************
	WIDTH-HEIGHT
*****************************************************************/

.w-100vw{
	width: 100vw;
}

.w-100{
	width: 100%;
}

.h-100vh{
	height: 100vh;
}

.h-100{
	height: 100%;
}

.h-inherit{
	height: inherit;
}

.h-fit-content{
	height: fit-content;
}

/*****************************************************************
	SHADOW
*****************************************************************/

.shadow-light{
	box-shadow: 0px 0px 11px 2px rgba(235,232,235,1);
}

.shadow-search{
	box-shadow: 0px 0px 13px -4px rgba(0,0,0,0.75);
}

/*****************************************************************
	FONT
*****************************************************************/
