/*****************************************************************
	FONT
*****************************************************************/



/*****************************************************************
	HEADER
*****************************************************************/
header {
    height: 75px;
    background-color: #f4f7f6;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

/********* HEADER OPEN NAV *********/
header div#open-nav {
    display: flex;
    align-items: center;
    padding: 0 2em;
    border-right: 2px solid #00000009;
    cursor: pointer;
    z-index: 9;
}
header div#open-nav p {
    letter-spacing: .2px;
    margin: 0 1em;
    font-size: .85em;
    text-transform: uppercase;
    white-space:nowrap;
}

/* hamburger */
#hamburger {
    width: 25px;
    height: 18px;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 10;
}
#hamburger span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #424242;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}
/* if close */
#hamburger span:nth-child(1) {
    top: 0px;
    transform-origin: left center;
}
#hamburger span:nth-child(2) {
    top: 7px;
    transform-origin: left center;
}
#hamburger span:nth-child(3) {
    top: 14px;
    transform-origin: left center;
}
/* else open */
#hamburger.open span:nth-child(1) {
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
}
#hamburger.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}
#hamburger.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 15px;
    left: 8px;
}

/********* HEADER LOGO *********/
header div.logo h2 {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 0 0 5em;
    letter-spacing: 1px;
    font-size: 1.2em;
    text-transform: uppercase;
    color: #424242;
    white-space:nowrap;
    font-weight: 700;
}

/********* HEADER LOGIN / REGISTER *********/
header div.reg-log {
    display: flex;
    align-items: center;
    cursor: pointer;
}
header div.reg-log a {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 calc(4vw + 2em);
    letter-spacing: 1px;
    font-size: .8em;
    text-transform: uppercase;
    color: #424242;
    white-space:nowrap;
}
header div.reg-log a:nth-child(2) {
    background-color: #01a3a4;
    color: #fff;
}


/*****************************************************************
	NAV
*****************************************************************/

nav {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 320px;
    height: 100vh;
    background: #01a3a4;

    visibility: hidden;
}
