/*****************************************************************
	SECTION
*****************************************************************/
section {
    padding: 2em calc(2em + 20vw);
}

section h1 {
    font-size: 1.1em;
    text-transform: uppercase;
    white-space:nowrap;
    font-weight: 600;
    padding: 1em 1em 2em 0;
}
section h1 > span {
    letter-spacing: .05em;
    font-size: .8em;
    text-transform: uppercase;
    white-space:nowrap;
    font-weight: 400;
}

/*****************************************************************
	REGISTER
*****************************************************************/
section form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

section form input{
    padding: 2em;
    margin-bottom: 2em;
    letter-spacing: .05em;
    font-size: .8em;
    text-transform: uppercase;
    white-space: nowrap;
    font-weight: 400;

}
section form input[type="submit"]{
    cursor: pointer;
    background-color: #01a3a4;
    color: #fff;
}