/*****************************************************************
	STUDIO
*****************************************************************/
section{
    padding: 2em 5vw;
}

footer{
    background-color: #fff;
    width: 100vw;
    position: fixed;
    bottom: 0;
}

/*****************************************************************
	MIDDLE
*****************************************************************/
section div.middle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

section div.middle div#post-list  {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;

    overflow-x: hidden;
    overflow-y: auto;
    height: 75vh;

    margin-top: 1em;

}

/********* POST *********/
section div.middle div.post {
    width: 22em;
    height: 26.4em;
    display: block;
}
section div.middle div.post:nth-child(1) {
    margin-top: 0;
}

/*****************************************************************
	MIDDLE WEBCAM
*****************************************************************/
section div.middle div#webcam{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1em 0;
    width: 63vw;
    max-width: 80em;
    min-width: 24em;
    position: relative;
}

section div.middle div#webcam video{
    width: 100%;
}


/* BUTTON */
section div.middle div#webcam form#button-option{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100%;
    padding: 1.2em 0;
    overflow-x: auto;
    overflow-y: hidden;
}

section div.middle div#webcam form#button-option input{
    color: white;
    cursor: pointer;
    background-color: #01a3a4;
    margin-right: 1em;
    letter-spacing: 1px;
    font-size: 1.1em;
    text-transform: uppercase;
    white-space: nowrap;
    font-weight: 500;
    padding: 1em;
}

section div.middle div#webcam form#button-option input[type="button"]:nth-child(1){
    background-color: #38445b;
}

section div.middle div#webcam form#button-option input#filterRangeX{
    transform: rotate(180deg);
    background-color: #38445b;
   
}
section div.middle div#webcam form#button-option input#filterRangeY{
    transform: rotate(-90deg);
    margin-left: -3em;
    background-color: #38445b;
}

/*****************************************************************
	FILTER
*****************************************************************/
section div.middle div#webcam div#filter_img{
    position: relative;
    width: 100%;
}

section div.middle div#webcam div#filter_img img{
    position: absolute;
    width: 27%;
    bottom: 26%;
    right: 37%;
    margin-bottom: 0.5%;
    visibility: hidden;
}
section div.middle div#webcam div#filter_img img:nth-child(1){
    visibility: visible;
}

/* FILE */
input[type="file"] {
    /* color: transparent!important; */
    padding: 0;
    margin-bottom: 0;
    width: 4.2em;
    background-color: #37425c!important;
}
input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
}
input[type="file"]::before {
    content: 'Upload';
    display: inline-block ;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
}
